#noticias{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 20px;
    background-color: var(--background-primary);
    height: calc(100vh - 140px);
    padding: 20px;
}

#noticias aside{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#noticias section{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width:500px) {
    #noticias{
        flex-direction: column;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #noticias aside{
    width: 100%;
    }

    #noticias section{
    width: 100%;
}
}