.noticias-recentes{
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 10px;
    background-color: var(--background-primary);
}

.section-noticias-recentes{
    width: 70%;
}

.section-noticias-recentes h1{
    color: var(--text-color-secondary);
}

.section-noticias-recentes a{
    text-decoration: none;
    color: var(--text-color-tertiary);
}

.section-noticias-recentes .cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-noticias-recentes .cards .card{
    height: 250px;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color-tertiary);
    overflow: hidden;
}

.section-noticias-recentes .cards .card img{
    border-radius: 6px;
    max-width: 450px;
    min-width: 450px;
}

.section-noticias-recentes .cards .card .box-text{
    width: 700px;
}

.section-noticias-recentes .cards .card .box-text h2{
    color: var(--text-color-secondary);
}

.section-noticias-recentes .cards .card .box-text p{
    margin-top: 5px;
}
