article{
    background-color: var(--text-color-primary);
    height: calc(58vh - 140px);
    width: 100%;
    display: flex;
    align-items: start;
    gap: 20px;
    padding-right: 10px;
}

article img{
    height: 100%;
}

article a{
    margin-top: 20px;
    text-decoration: none;
    color: var(--text-color-tertiary);
}

article a h2{
    font-size: var(--font-medium);
    margin-bottom: 5px;
}

article a p{
    font-size: var(--font-small);
}

@media (max-width:1280px) {
    article a{
        position: absolute;
        color: var(--text-color-primary);
        padding: 20px;
        text-shadow: -1px -1px 0 var(--text-color-tertiary);
        text-shadow: 1px 1px 0 var(--text-color-tertiary);
        text-shadow: -1px 1px 0 var(--text-color-tertiary);
        text-shadow: 1px -1px 0 var(--text-color-tertiary);
    }

    article a h2{
        font-size: var(--font-medium-mobile);
    }

    article a p{
    font-size: var(--font-small-mobile);
    }
}