.pageNoticia{
     width: 100%;
     background-color: var(--background-primary);
     display: flex;
     justify-content: center;
}

.pageNoticia .section-noticia{
     padding-top: 40px;
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.pageNoticia .section-noticia img{
     width: 100%;
}

.p-conteudo{
     padding-bottom: 40px;
}
