header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    background-color: var(--background-secondary);
    color: var(--text-color-primary);
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color-primary);
    padding: 20px;
    transition: 0.2s all ease-in-out;
    position: relative;
}

nav ul li a::after{
    content: '';
    position: absolute;
    background-color: var(--background-primary);
    bottom: 8px;
    left: 0;
    height: 2px;
    width: 0;
    transition: 0.2s all ease-in-out;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover{
    color: var(--background-primary);
}

form{
    display: flex;
    gap: 3px;
    align-items: center;
    gap: 5px;
}

form div{
    display: flex;
    gap: 5px;
}

form div input{
    width: 300px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--text-color-secondary);
    color: var(--text-color-primary);
    border: solid 1.5px var(--text-color-primary);
}

form div button{
    background-color: transparent;
    border: none;
    color: var(--text-color-primary);
    font-size: var(--font-small);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

form div button:hover{
    color: var(--background-primary);
}

header .a-login{
    background-color: var(--text-color-primary);
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color-secondary);
    transition: all 0.2s ease-in-out;
}

header .a-login:hover{
    opacity: 0.95;
}

@media (max-width:500px) {
    header h2{
        display: none;
    }

    nav ul li a{
        font-size: var(--font-small-mobile);
    }

    form div input{
        width: 120px;
    }
}