*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --background-primary: #efefef;
  --background-secondary: #2700DB;

  --text-color-primary: #fff;
  --text-color-secondary: #2404BA;
}

::placeholder{
  color: var(--text-color-primary);
}