*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --background-primary: #fefefe;
  --background-secondary: #2700DB;
  --background-tertiary: #222;

  --text-color-primary: #fff;
  --text-color-secondary: #2404BA;
  --text-color-tertiary: #000;

  --font-xl: 250px;
  --font-large: 40px;
  --font-medium: 30px;
  --font-small: 18px;

  --font-medium-mobile: 24px;
  --font-small-mobile: 14px;
}

::placeholder{
  color: var(--text-color-primary);
}

main{
  height: calc(100vh - 140px)
}

body{
  background-color: var(--background-primary);
}

@media (max-width:500px) {
  main{
    height: auto;
  }
}