*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  --background-primary: #efefef;
  --background-secondary: #2700DB;

  --text-color-primary: #fff;
  --text-color-secondary: #2404BA;
  --text-color-tertiary: #000;
}

::placeholder{
  color: var(--text-color-primary);
}

main{
  height: calc(100vh - 140px)
}

@media (max-width:500px) {
  main{
    height: auto;
  }
}