.notFound{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-tertiary);
}

.notFound div{
    position: relative;
    margin-bottom: 130px;
}

.notFound div h2{
    color: var(--text-color-primary);
    font-size: var(--font-large);
    position: relative;
    z-index: 1;
}
.notFound div h1{
    position: absolute;
    font-size: var(--font-xl);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 0;
    color: var(--text-color-tertiary);
}
.notFound a{
    color: var(--text-color-primary);
    text-decoration: none;
    position: relative;
}

.notFound a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--text-color-primary);
    transition: all 0.2s ease-in-out;
}

.notFound a:hover::after{
    width: 100%;
}
